// * {
//     cursor: url('../../asset/images/cursor/Cursor\ \(Idle\).png'), auto;
// }

body {
    cursor: url('../../asset/images/cursor/Cursor\ \(Idle\).png'), auto !important;
}

.css-18cvf7r div {
    cursor: url('../../asset/images/cursor/Cursor\ \(Hover\).png'), auto !important;
}

.css-2s3twi div {
    cursor: url('../../asset/images/cursor/Cursor\ \(Hover\).png'), auto !important;
}

.css-1bx6r4r {
    cursor: url('../../asset/images/cursor/Cursor\ \(Hover\).png'), auto !important;
}

a {
    cursor: url('../../asset/images/cursor/Cursor\ \(Hover\).png'), auto !important;
}

svg {
    cursor: url('../../asset/images/cursor/Cursor\ \(Hover\).png'), auto !important;
}

path {
    cursor: url('../../asset/images/cursor/Cursor\ \(Hover\).png'), pointer;
}

button {
    cursor: url('../../asset/images/cursor/Cursor\ \(Hover\).png'), pointer;
}

Link {
    cursor: url('../../asset/images/cursor/Cursor\ \(Hover\).png'), pointer;
}

// .chakra-stack div {
//     cursor: url('../../asset/images/cursor/Cursor\ \(Hover\).png'), auto !important;
// }

// .chakra-stack hr {
//     cursor: url('../../asset/images/cursor/Cursor\ \(Hover\).png'), auto !important;
// }

// .customCursor {
//     cursor: url('../../asset/images/cursor/Cursor\ \(Idle\).png'), auto;
// }

// .customPointer {
//     cursor: url('../../asset/images/cursor/Cursor\ \(Hover\).png'), auto !important;
// }